@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,600;1,800;1,900&display=swap');

:root {
    --header-color: rgb(136, 123, 108);
    --sidebar-color: rgb(196, 183, 168);
    --main-color: rgb(249, 238, 216);
}

html {
    font-family: 'Dela Gothic One', sans-serif;
        
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    font: normal;
}

#header {
    grid-column: 1 / span 2;
    border: 1px solid var(--header-color);
    background-color: var(--header-color);
    display: grid;
}

#title {
    align-self: center;
    justify-self: first baseline;
    margin-left: 4rem;
}

#sidebar {
    border: 1px solid var(--sidebar-color);
    background-color: var(--sidebar-color);
    
}

#main {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);

}

footer {
    background-color: var(--header-color);
    grid-column: 1 / span 2;
    text-align: center;
}