@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,600;1,800;1,900&display=swap');

:root {
    --header-color: rgb(136, 123, 108);
    --sidebar-color: rgb(196, 183, 168);
    --main-color: rgb(249, 238, 216);
}

html {
    font-family: 'Dela Gothic One', sans-serif;
        
}

body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 0.5fr 4fr 0.4fr;
    height: 100vh;
}

#header {
    grid-column: 1 / span 2;
    border: 1px solid var(--header-color);
    background-color: var(--header-color);
    display: grid;
}

#title {
    align-self: center;
    justify-self: first baseline;
    margin-left: 4rem;
}

#sidebar {
    border: 1px solid var(--sidebar-color);
    background-color: var(--sidebar-color);
    grid-row: 2;
    display: grid;
    
}

#projects-div {
    display: flex;
    flex-direction: column;
    padding: 2px;
}

#projects-div > button {
    font-family: 'Dela Gothic One', sans-serif;
    
}

form.input-field>input {
    width: inherit;
}

form.input-field>button {
    width: inherit;
}

form.input-field {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
}

div#projects-div > h3, div#to-dos-div > h3 {
    margin-left: 15px;
}


#main {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

#mainHeader {
    text-align: center;
}

#mainDiv {
    border: 2px solid red;
    width: 80%;
    height: 60vh;
    
}

.li-element {
    border-bottom: 1px solid var(--header-color);
}

.li-element>p {
    display: inline-block;
    margin: 5px 2rem;
}


footer {
    background-color: var(--header-color);
    grid-column: 1 / span 2;
    text-align: center;
}